<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="shoppingListForm" (ngSubmit)="addNewIngredients()">
      <div class="mb-3 row">
        <div id="ingredientsData" formGroupName="aboutIngredient">
          <div class="col-sm-5 form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
            <p
              class="form-text text-muted"
              *ngIf="
                shoppingListForm.get('aboutIngredient.name')?.invalid &&
                shoppingListForm.get('aboutIngredient.name')?.touched
              "
            >
              Please insert a valid name for the ingredient
            </p>
          </div>

          <div class="col-sm-2 form-group">
            <label for="amount">Amount</label>
            <input
              type="number"
              class="form-control"
              id="amount"
              formControlName="amount"
            />
            <p
              class="form-text text-muted"
              *ngIf="
                shoppingListForm.get('aboutIngredient.amount')?.invalid &&
                shoppingListForm.get('aboutIngredient.amount')?.touched
              "
            >
              Amount must be positive
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" *ngIf="!editMode">
            Add
          </button>
          <button
            class="btn btn-warning"
            type="button"
            *ngIf="editMode"
            (click)="editIngredient()"
            [disabled]="shoppingListForm.invalid"
          >
            Update
          </button>
          <button class="ms-3 btn btn-danger" type="button">Delete</button>
          <button class="ms-3 btn btn-primary" type="reset">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
