<div class="container">
  <h2>Details</h2>
  <div #details *ngIf="selectedRecipe !== undefined; else detailsNotFound">
    <div class="row">
      <div class="col-xs-12">
        <img
          src="{{ selectedRecipe.imagePath }}"
          alt="{{ selectedRecipe.name }} recipe image"
          class="img-responsive img-thumbnail"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="border-bottom">{{ selectedRecipe.name }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>{{ selectedRecipe.description }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let ingredient of selectedRecipe.ingredients"
          >
            {{ ingredient.name }} - {{ ingredient.amount }}
          </li>
        </ul>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Manage Recipe
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>To Shopping List</button>
            <button ngbDropdownItem>Edit Recipe</button>
            <button class="btn btn-danger" ngbDropdownItem>
              Delete Recipe
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #detailsNotFound>
    <p>Select a recipe to view its details or wait 5 seconds for it to load</p>
    <div>
      <div class="spinner-border text-primary spinner-border-md" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>
