<div class="container">
  <h2>Details</h2>
  <div>
    <div class="row">
      <div class="col-xs-12">
        <img
          src="{{ recipe.imagePath }}"
          alt="{{ recipe.name }} recipe image"
          class="img-responsive img-thumbnail"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="border-bottom">{{ recipe.name }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>{{ recipe.description }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let ingredient of recipe.ingredients"
          >
            {{ ingredient.name }} - {{ ingredient.amount }}
          </li>
        </ul>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Manage Recipe
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              (click)="addToShoppingList(recipe.ingredients)"
            >
              To Shopping List
            </button>
            <button ngbDropdownItem>Edit Recipe</button>
            <button ngbDropdownItem>Delete Recipe</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
