<button class="btn btn-primary">New Recipe</button>
<div class="list-group">
  <a
    href="#"
    class="mt-3 list-group-item list-group-item-action"
    *ngFor="let recipe of recipes"
  >
    <div class="card">
      <img
        src="{{ recipe.imagePath }}"
        class="card-img-top"
        alt="recipe picture"
      />
      <div class="card-body">
        <h5 class="card-title">{{ recipe.name }}</h5>
        <p class="card-text">
          {{ recipe.description }}
        </p>
      </div>
    </div>
  </a>
</div>
