<nav class="mb-3 navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Angular Project</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="mb-2 navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/recipes"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shopping-list">Shopping List</a>
        </li>
        <li>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-light" id="dropdownMenu1" ngbDropdownToggle>
              Toggle dropdown
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenu1">
              <button class="dropdown-item">Action - 1</button>
              <button class="dropdown-item">Action - 2</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
