<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-2">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
        />
        <div
          class="form-text"
          *ngIf="
            authForm.get('email')?.invalid && authForm.get('email')?.touched
          "
        >
          Please enter a valid email
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <div
          class="form-text"
          *ngIf="
            authForm.get('password')?.invalid &&
            authForm.get('password')?.touched
          "
        >
          Password must be at least 6 chars long.
        </div>
      </div>

      <div class="form-group mb-2" *ngIf="!isLoginMode">
        <label for="confirm">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirm"
          formControlName="confirm"
        />
        <div
          class="form-text"
          *ngIf="
            authForm.get('confirm')?.value !==
              authForm.get('password')?.value &&
            authForm.get('confirm')?.touched
          "
        >
          Password does not match
        </div>
      </div>

      <button
        class="btn btn-primary my-4"
        *ngIf="!isLoading"
        [disabled]="
          (!isLoginMode &&
            authForm.get('password')?.value !==
              authForm.get('confirm')?.value) ||
          authForm.invalid
        "
        type="submit"
      >
        {{ isLoginMode ? "Login" : "Sign Up" }}
      </button>

      <button class="btn btn-primary" type="button" disabled *ngIf="isLoading">
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>

      <button
        type="button"
        (click)="onSwitchMode()"
        class="btn btn-primary ms-4"
      >
        {{
          !isLoginMode ? "Already registered? Sign In" : "Create your account"
        }}
      </button>
    </form>
  </div>
</div>
